header {
    background-color: rgb(99, 230, 99);
    color: #fff;
    padding-top: 20px;
}

h1 {
    padding-left: 30px;
}

.style-whait {
    margin: 0;
    padding: 10px;
    border-radius: 15px;
    z-index: 1;
    text-shadow: 3px 3px  #36363680;
}


.style-Black {
    color: black;
    padding: 10px;
    border-radius: 15px;
}
