.lista-post{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 50px 90px;
    justify-content: space-between;
    align-items: flex-end;
}

.style-post{
    width: 48%;
    padding: 0;
    margin-bottom:40px;
    
  
}

.style-post:hover{
    box-shadow: 1px 1px 20px  #cccccc80;
}
