.curso{
  display: flex;
  align-items: center;

}

.curso img{
  width: 80px;
  padding: 40px;
}

.curso h3{
  font-size: 2em;
  margin: 0;
}

 .categoria{
  padding: 5px;
  margin: 4px;
  background-color: rgb(243, 243, 243);
}