ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  background-color: gray;
  color: #fff;
}
ul li{
  padding: 20px;

}
ul  a{
  text-decoration: none;
  color: #fff;
}

ul li:hover{
  background-color: rgb(99, 99, 99);
}